*{
    background-color: #222;
    color:azure;
    margin:10px;
    font-size: 16px;
}

.boton{
    color: darkgrey; 
    background-color: rgb(20, 20, 20); 
    border: solid 1px darkgrey;
    cursor: pointer;
}

.boton:hover{
    background-color: black;
}

.boton1{
    color: darkgrey; 
    background-color: rgb(20, 20, 20); 
    border: solid 1px darkgrey;
    float: right;
    cursor: pointer;
}

.boton1:hover{
    background-color: black;
}



.cuerpo{
    display: grid;
    grid-template-columns: 350px auto;
    grid-column-gap: 35px;
    text-align: justify;
}

.portada{
    max-width: 100%;
}

.portada2{
    max-width: 100%;
}

.navBar{
    display: grid;
    font-size: 20px;
}

.navBar li:hover{
    cursor: pointer;
    color:rgb(117, 113, 113);
}
.navBar ul{
    list-style: none;
}

.navBar li{
    display: inline;
    float: right;
}